<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kanban Board</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./static/style.css" />
</head>
<body>
  <header style="text-align: center;">
    {% if current_user.is_authenticated %}
    <i>Hi, {{current_user.username}}! Welcome to your kanban board. </i>
    <a href="{{url_for('logout')}}">Logout</a>
    {% else %}
    <a href="{{ url_for('login')}}">Already have an account?</a>
    <a href="{{url_for('register')}}">Create new account!</a>
    {% endif %}
  </header>
  <div>
    {% with message = get_flashed_messages()%}
    {% if message %}
    <div class='alert'>{{message[0]}}</div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>
